@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&family=Inconsolata&family=Inter&family=PT+Sans:wght@400;700&family=Poppins:wght@400;700&family=Ubuntu:wght@300&display=swap');

/* Index */

/* header */
body {
    background-color: #F5F5DC;
    margin: 0;
}

.header {
    background-color: #D2B48C;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #D2B48C;
}

.container {
    width: max-content;
    height: max-content;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.logo {

    height: 120px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.header ul .aqui {
    font-weight: 500px;

}

.nav {

    color: #000;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 0;
    justify-items: end;
    font-size: 14px;
    margin: auto;
    margin-right: 0px;
    font-family: 'Poppins';
    font-weight: 700;

}


.nav a {
    margin: auto;
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;

}

.nav li {
    height: auto;
    align-self: center;
}

.lisobre {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.ulsobre {
    top: 15px;
    list-style: none;
    padding: 20px;
    background-color: #D2B48C;
    display: none;
    position: absolute;
    text-align: center;
}

.lisobre:hover .ulsobre {
    display: block;
}

.ulsobre:hover {
    display: block;
}

.ulsobre li {
    padding: 10px;
}

.contato2 {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #D2B48C;
    color: #000;
    font-family: 'Poppins';
    font-weight: 700;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border: none;
}

.cadastro {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #D2B48C;
    color: #000;
    border: solid #000 3px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;


}

.login {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #D2B48C;
    color: #000;
    border: solid #000 3px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;



}

/* Sobre o Projeto */
.projeto {
    height: 600px;
    background-color: #D2B48C;
}

.img_projeto {
    border-radius: 60px;
    width: 300px;
    height: auto;
}

.texto_projeto {
    text-align: center;
    width: 650px;
    margin-left: 80px;
    margin-top: 100px;

}

.texto_projeto h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.titulo {
    font-family: 'Poppins';
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 10vh;

}

.sobreprojeto {
    display: flex;
    margin-top: 50px;
}

/* final sobre o porojeto */

/* Sobre mim */
.mim {
    background-color: #F5F5DC;
    margin-top: 70px;
    height: 600px;

}

.img_mim {
    border-radius: 60px;
    width: 300px;
    height: auto;
    margin-left: 45px;
}

.texto_mim {
    text-align: center;
    width: 650px;
    margin-right: 80px;
    margin-top: 100px;

}

.sobremim {
    display: flex;
    margin-top: 50px;
}

/* final sobre mim */

/* valores */
.valores {
    background-color: #D2B48C;

    height: 600px;
    width: 100%;
}

.box {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.valores .container {
    justify-content: center;
}

.img_valores {
    width: 200px;
    height: auto;
}

.valores .container .boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.separar {
    margin-right: 100px;
}

.boxes {
    margin-left: 80px;
}

.boxes .container {
    flex-direction: row;
    align-items: center;
}

.texto2 {
    margin-right: 100px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;

}


/* final valores */

/* contato */
.contato {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 600px;

}

.contato .container {
    flex-direction: column;
}

.img_contato {

    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 250px;
    font-size: 0;
    width: 100px;
    height: 100px;
    display: inline-block;

}

.blocoContato {
    justify-content: space-between;
    justify-content: flex-end;
    margin-left: 80px;
    width: 300px;
    height: 500px;
    display: inline-block;
}

.texto {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins';
    margin-left: 70px;

}


.contato h2 {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
}

.contato h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

/* fim contato */
/* final da index */

/* Login */
.body_login {
    background-image: url(https://images5.alphacoders.com/389/thumb-1920-389873.jpg);
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.card {

    background-color: #D2B48C;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    height: 541px;
    margin-top: 175px;
    margin-bottom: 175px;
    margin-left: 319px;
    width: 476px;
}

.formulario h2 {
    margin-top: 60px;
    font-family: 'Poppins';
}

.tipo_campo {
    margin-top: 20px;
    font-family: 'Poppins';
    margin-top: 55px;
}

.input {

    border-radius: 20px;
    width: 300px;
    height: 30px;
    text-align: center;

}


.card .login {
    margin-top: 100px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}


/* fim do login */

/* Cadastro */
.body_cadastro {
    background-image: url(https://images5.alphacoders.com/389/thumb-1920-389873.jpg);
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.card_cadastro {
    background-color: #D2B48C;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    height: 900px;
    margin-top: 175px;
    margin-bottom: 175px;
    margin-left: 319px;
    width: 476px;
}


.card_cadastro .cadastro {
    margin-top: 200px;
}

.card_cadastro .contairner {
    align-items: center;
    justify-content: center;
}

.cadastro-entra {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #D2B48C;
    color: #000;
    border: solid #000 3px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 50px;

}

/* fim do cadastro*/


/* Banner */

.bannerHome {
    background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.bannerHome .container {
    height: 85vh;
    align-items: center;

}

.slogan {
    width: 70%;
    margin: 0;
    margin-top: 160px;
    margin-left: 3px;
    margin-bottom: 100px;
    margin-right: 100px;
    color: #FFFFFF;
    font-size: 55px;
    font-family: 'PT Sans';
    width: auto;
}

.slogan .container {
    display: flex;


}

/* final banner */




/* fotter */
.footer {
    height: 17vh;
    width: 100%;
    background-color: #D2B48C;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: -21px;
}

.footer .container {
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: 'Poppins';
    font-weight: 400;
    color: #000;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* Simulador */
#div_mgs {
    width: 30px;
    height: 20px;

}

.botoes_direcao {
    display: flex;
    flex-direction: row;
}

.botaoCalcular {
    width: 150px;
    height: 40px;
    background-color: #D2B48C;
    color: #000;
    border: solid #000 3px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;

}

.formulario_Calculadora {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.formulario_Calculadora h2 {

    font-family: 'Poppins';
}

/* Final Simulador */

/* Tela Principal */
.biblioteca {
    background-image: url(https://pbs.twimg.com/media/DAz4sI_XcAA3Z0u.jpg);
    background-size: cover;
    overflow-x: hidden;
    
    width: 100%;
    height: 600px;

}

.dash {
    background-color: #D2B48C;
    width: 100%;
    height: 600px;
}

.simulador {
    background-image: url(https://pbs.twimg.com/media/DAz4sI_XcAA3Z0u.jpg);
    background-size: cover;
    overflow-x: hidden;
    
    width: 100%;
    height: 600px;
}

.texto_inicial {
    text-align: center;
    font-family: 'Poppins';
    font-size: 40px;
    color: #000;
   


}

/* Tela Principal */
/* .biblioteca {
    background-image: url(https://pbs.twimg.com/media/DAz4sI_XcAA3Z0u.jpg);
    background-size: cover;
    overflow-x: hidden;
    opacity: 0.5;
    width: 100%;
    height: 600px;

} */

.dash {
    background-color: antiquewhite;
    width: 100%;
    height: 600px;
}

.biblioteca {
    width: 100%;
    height: 140vh;
    background-color: white;
}

.texto_inicial {
    text-align: center;
    font-family: 'Poppins';
    font-size: 40px;
    color: #000;
  
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
}

.inicial a {
    margin: auto;
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.caixa{
    background-color: #D2B48C;
    height: 27vh;
    width: 23vh;
    margin-top: 16vh;
    border-radius: 3vh;
    display: flex;
    align-items: center;
    font-size: 2vh;
    justify-content: center;
}

.circulo_1{
    background-color: wheat;
    height: 10vh;
    width: 10vh;
    border-radius: 65vh;
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin-left: 32vh;
}

.circulo_2{
    background-color: wheat;
    height: 10vh;
    width: 10vh;
    border-radius: 65vh;
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin-left: 50vh;
}

.circulo_3{
    background-color: wheat;
    height: 10vh;
    width: 10vh;
    border-radius: 65vh;
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin-left: 50vh;
}
.circulo_4{
    border-radius: 65vh;  
    height: 10vh;
    width: 10vh;
    margin: 0;
}

.circulos{
    display: flex;
    margin-top: -32vh;
}

.livros{
    display: flex;
    justify-content: space-between;
    width: 124vh;
    height: 110vh;
    margin-left: 40vh;
    margin-top: 9vh;
    padding-top: 3vh;
    flex-wrap: wrap;
}

.livro{
    background-color: rgb(0 0 0 / 6%);
    height: 32vh;
    width: 25vh;
    border: 1px solid;
    border-color: #D2B48C;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11vh;
}
.img_livro{
    height: 32vh;
    width: 25vh;
}
.livro a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* final da Tela Principal */

/* inicio da dash */
.container_dash{
    width: max-content;
    height: max-content;
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 11vh;
}

.texto_dash{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins';
    margin-left: 70px;
    margin-top: 11vh;
}
/* final da dash */